<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCMaps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MCMaps.Properties.Settings>
            <setting name="x" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="y" serializeAs="String">
                <value>129</value>
            </setting>
            <setting name="h" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="thresholdBottom" serializeAs="String">
                <value>224</value>
            </setting>
            <setting name="thresholdTop" serializeAs="String">
                <value>224</value>
            </setting>
        </MCMaps.Properties.Settings>
    </userSettings>
</configuration>